allow system_server init:unix_dgram_socket sendto;
allow system_server wpa_socket:unix_dgram_socket sendto;

allow system_app sysfs_device_writable:file rw_file_perms;
